<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta http-equiv="refresh" content="10">
    <% convert_date=function(date_string){ let formatData=(input)=> {
        if (input > 9) {
        return input;
        } else return `0${input}`;
        };

        let formatHour = (input) => {
        if (input > 12) {
        return input - 12;
        }
        return input;
        };

        let date = new Date(date_string);

        let format = {
        dd: formatData(date.getDate()),
        mm: formatData(date.getMonth() + 1),
        yyyy: date.getFullYear(),
        HH: formatData(date.getHours()),
        hh: formatData(formatHour(date.getHours())),
        MM: formatData(date.getMinutes()),
        SS: formatData(date.getSeconds()),
        };
        let format24Hour = ({ dd, mm, yyyy, HH, MM, SS }) => {
        return (`${mm}/${dd}/${yyyy} ${HH}:${MM}:${SS}`);
        };
        return format24Hour(format);
        }

        get_action = function(kib, kia){
        if((kib & kia) | (!kib & !kia)){
        return "Nothing"
        }else if(kib & !kia){
        return "Take"
        }else{
        return "Return"
        }
        }

        %>
</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form>
    <h1>Locker access list</h1>

    <div class="parent">
        <div class="division">
            <h3>Last card read: <%=last_card%>
            </h3>
            <form class="form" method='get' action="/create_key_page" enctype="application/x-www-form-urlencoded">
                <input type="text" name="key_id" value="<%=last_card%>" readonly required style="display: none;">
                <input type="submit" value="Create new Key from this id">
            </form>
            <form class="form" method='get' action="/create_card_page" enctype="application/x-www-form-urlencoded">
                <input type="text" name="card_id" value="<%=last_card%>" readonly required style="display: none;">
                <input type="submit" value="Create new Card from this id">
            </form>
        </div>
        <div class="division">
            <h3>Filter data by key</h3>
            <form class="form" method='get' action="/getAccess" enctype="application/x-www-form-urlencoded">
                <input type="text" name="filter" value="key" readonly required style="display: none;">
                <select name="key_id" required>
                    <%keys.forEach(function(key){%>
                        <option value="<%=key.id%>"><%=key.nickname%>
                        </option>
                        <%})%>
                </select><br>
                <input type="submit" value="Get data">
            </form>

        </div>
        <div class="division">
            <h3>Filter data by room</h3>
            <form class="form" method='get' action="/getAccess" enctype="application/x-www-form-urlencoded">
                <input type="text" name="filter" value="room" readonly required style="display: none;">
                <select name="card_id" required>
                    <%rooms.forEach(function(room){%>
                        <option value="<%=room.card_id%>"><%=room.id%> - <%=room.resident%>
                        </option>
                        <%})%>
                </select><br>
                <input type="submit" value="Get data">
            </form>

        </div>
        <div class="division">
            <h3>Remove filter</h3>
            <form class="form" method='get' action="/getAccess" enctype="application/x-www-form-urlencoded">
                
                <input type="submit" value="Get data">
            </form>

        </div>
    </div>

    <h3>Access list:</h3>
    <table style="border: solid;">
        <tr>
            <th>Locker ID</th>
            <th>Key nickname</th>
            <th>Room</th>
            <th>Resident</th>
            <th>Action</th>
            <th>Status before</th>
            <th>Status after</th>
            <th>Time open</th>
            <th>Time close</th>
            <th>Remove</th>
        </tr>
        <% rows.forEach(function(row) { %>
            <tr>
                <td>
                    <%=row.locker%>
                </td>
                <td>
                    <%=row.nickname%>
                </td>
                <td>
                    <%=row.room%>
                </td>
                <td>
                    <%=row.resident%>
                </td>
                <td>
                    <%=get_action(row.keyinbefore,row.keyinafter)%>
                </td>
                <td>
                    <%if(row.keyinbefore){%>Key inside<%}else{%>No key<%}%>
                </td>
                <td>
                    <%if(row.keyinafter){%>Key inside<%}else{%>No key<%}%>
                </td>
                <td>
                    <%=convert_date(row.timeopen)%>
                </td>
                <td>
                    <%=convert_date(row.timeclose)%>
                </td>
                <td>
                    <form class="form" method='POST' action="/removeAccess" enctype="application/x-www-form-urlencoded">
                        <input type="text" name="card_id" value="<%=row.card_id%>" readonly style="display: none;">
                        <input type="text" name="timeopen" value="<%=row.timeopen%>" readonly style="display: none;">
                        <input type="submit" value="Remove">
                    </form>

                </td>
            </tr>
            <% }); %>

    </table>

</body>