<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form>
    <h1>Edit Page</h1>

    <div class="parent">
        <div class="division">
            <h3>Card and room section</h3>

            <h4>Create new room</h4>
            <form class="form" method='POST' action="/newRoom" enctype="application/x-www-form-urlencoded">
                Room id: <input type="text" name="room_id" required><br>
                Room resident: <input type="text" name="room_resident" required><br>
                <input type="submit" value="Create room">
            </form>

            <h4>Bind card and room</h4>
            <form class="form" method='POST' action="/bindCardRoom" enctype="application/x-www-form-urlencoded">
                Card:
                <select name="card_id" required>
                    <%cards.forEach(function(card){%>
                        <option value="<%=card.id%>">ID:<%=card.id%> - Actual Room:<%=card.room%>
                        </option>
                        <%})%>
                </select><br>
                Room:
                <select name="room_id" required>
                    <%rooms.forEach(function(room){%>
                        <option value="<%=room.id%>">ID:<%=room.id%> - Resident:<%=room.resident%>
                        </option>
                        <%})%>
                </select><br>
                <input type="submit" value="Bind">
            </form>


            <h4>Remove Card</h4>
            <form class="form" method='POST' action="/removeCard" enctype="application/x-www-form-urlencoded">
                Card:
                <select name="card_id" required>
                    <%cards.forEach(function(card){%>
                        <option value="<%=card.id%>">ID:<%=card.id%> - Actual Room:<%=card.room%>
                        </option>
                        <%})%>
                </select>
                <input type="submit" value="Remove">
            </form>


            <h4>Remove room</h4>
            <form class="form" method='POST' action="/removeRoom" enctype="application/x-www-form-urlencoded">
                Room:
                <select name="room_id" required>
                    <%rooms.forEach(function(room){%>
                        <option value="<%=room.id%>">ID:<%=room.id%> - Resident:<%=room.resident%>
                        </option>
                        <%})%>
                </select>
                <input type="submit" value="Remove">
            </form>

        </div>



        <div class="division">
            <h3>Locker and Key section</h3>

            <h4>Bind locker and key</h4>
            <form class="form" method='POST' action="/bindLockerKey" enctype="application/x-www-form-urlencoded">
                Locker:
                <select name="locker_id" required>
                    <%lockers.forEach(function(locker){%>
                        <option value="<%=locker.id%>">ID:<%=locker.id%> - Actual Key:<%=locker.key%>
                        </option>
                        <%})%>
                </select><br>
                Key:
                <select name="key_id" required>
                    <%keys.forEach(function(key){%>
                        <option value="<%=key.id%>">ID:<%=key.id%> - Nickname:<%=key.nickname%>
                        </option>
                        <%})%>
                </select><br>
                <input type="submit" value="Bind">
            </form>


            <h4>Remove locker</h4>
            <form class="form" method='POST' action="/removeLocker" enctype="application/x-www-form-urlencoded">
                Locker:
                <select name="locker_id" required>
                    <%lockers.forEach(function(locker){%>
                        <option value="<%=locker.id%>">ID:<%=locker.id%> - Actual Key:<%=locker.key%>
                        </option>
                        <%})%>
                </select>
                <input type="submit" value="Remove">
            </form>

            <h4>Remove Key</h4>
            <form class="form" method='POST' action="/removeKey" enctype="application/x-www-form-urlencoded">
                Key:
                <select name="key_id" required>
                    <%keys.forEach(function(key){%>
                        <option value="<%=key.id%>">ID:<%=key.id%> - Nickname:<%=key.nickname%>
                        </option>
                        <%})%>
                </select>
                <input type="submit" value="Remove">
            </form>

        </div>
        </div>
</body>