<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Home Page - Locker</h1>

    <div class="parent">
        <div class="division">

            <h3>Get all data from access</h3>
            <form class="form" method='GET' action="/getAccess" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Get all data">
            </form>

        </div>
        <div class="division">

            <h3>Get all key</h3>
            <form class="form" method='GET' action="/getKey" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Get all keys">
            </form>

        </div>
        <div class="division">

            <h3>Get all card</h3>
            <form class="form" method='GET' action="/getCard" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Get all cards">
            </form>

        </div>
        <div class="division">

            <h3>Get all room</h3>
            <form class="form" method='GET' action="/getRoom" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Get all rooms">
            </form>

        </div>
        <div class="division">

            <h3>Get all locker</h3>
            <form class="form" method='GET' action="/getLocker" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Get all lockers">
            </form>

        </div>
        <div class="division">

            <h3>Go to the edit page</h3>
            <form class="form" method='GET' action="/editPage" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="Go to">
            </form>

        </div>
    </div>
</body>

</body>