<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form> 
    <h1>Key list</h1>
    
    <h3>Key and locker info:</h3>
    <table style="border: solid;">
        <tr>
            <th>Key id</th>
            <th>Nickname</th>
            <th>Locker</th>
        </tr>
    <% keys.forEach(function(key) { %>
        <tr>
            <td><%=key.id%></td>
            <td><%=key.nickname%></td>
            <td><%=key.locker%></td>
        </tr>
    <% }); %> 

    </table>

</body>