<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form> 
    <h1>Locker list</h1>
    
    <h3>Locker and key info:</h3>
    <table style="border: solid;">
        <tr>
            <th>Locker id</th>
            <th>Key nickname</th>
            <th colspan="2">Locker status</th>
            <th>Locker Enabled</th>
        </tr>
    <% lockers.forEach(function(locker) { %>
        <tr>
            <td><%=locker.id%></td>
            <td><%=locker.nickname%></td>
            <td><%if(locker.open){%>  Open  <%}else{%>  Close  <%}%></td>
            <td><%if(locker.keyin){%>  with key  <%}else{%>  without key  <%}%></td>
            <td><%if(locker.enabled){%>  Yes  <%}else{%>  No  <%}%></td>
        </tr>
    <% }); %> 

    </table>

</body>