<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form> 
    <h1>New Card</h1>

    <h3>Create new card for "<%=card_id%>"</h3>
        <form class="form" method='POST' action="/new_card" enctype="application/x-www-form-urlencoded">
            <input type="text" name="card_id" value="<%=card_id%>" readonly style="display: none;">
            Card room 
            <select name="room" required>
                <%rooms.forEach(function(room){%>
                    <option value="<%=room.id%>$$$<%=room.resident%>"><%=room.id%>: <%=room.resident%></option>
                <%})%>
            </select>
            <input type="submit" value="Create Card">
        </form>

        <h3>Create new card for "<%=card_id%>" and new room</h3>
            <form class="form" method='POST' action="/new_card_and_room" enctype="application/x-www-form-urlencoded">
                <input type="text" name="card_id" value="<%=card_id%>" readonly style="display: none;">
                Room id: <input type="text" name="room_id" required><br> 
                Room resident: <input type="text" name="room_resident" required><br> 
                <input type="submit" value="Create Card and room">
            </form>
</body>