<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home"> 
    </form> 
    <h1>New Key</h1>

    <h3>Create new key for "<%=key_id%>"</h3>
        <form class="form" method='POST' action="/new_key" enctype="application/x-www-form-urlencoded">
            <input type="text" name="key_id" value="<%=key_id%>" readonly style="display: none;">
            Key nickname: <input type="text" name="key_nickname" value="<%=key_id%>" required><br>
            Bind with locker: 
            <select name="bind" required>
                <option value="true" selected>Yes</option>
                <option value="flase" selected>No</option>
            </select>
            <select name="locker" required>
                <%lockers.forEach(function(locker){%>
                    <option value="<%=locker.id%>">ID:<%=locker.id%> - Actual Key:<%=locker.key%></option>
                <%})%>
            </select>

            <input type="submit" value="Create Key">
        </form>

</body>