<html>

<head>
    <title>Locker - Tomadini</title>
    <link href="style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <form method='get' action="/" enctype="application/x-www-form-urlencoded">
        <input type="submit" value="Home">
    </form> 
    <h1>Room list</h1>
    
    <h3>Room and card info:</h3>
    <table style="border: solid;">
        <tr>
            <th>Room</th>
            <th>Resident</th>
            <th>Card id</th>
        </tr>
    <% rooms.forEach(function(room) { %>
        <tr>
            <td><%=room.id%></td>
            <td><%=room.resident%></td>
            <td><%=room.card%></td>
        </tr>
    <% }); %> 

    </table>

</body>