body{
    background-color: whitesmoke;
    font-family: arial, sans-serif;
    
}

h1 {
    color: blue;
    text-align: center;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background: white;
    border-color: black;
    position: sticky;
    top: 0;
  }
tr:nth-child(even) {
    background-color: #dddddd;
}

tbody{
    border: solid;
}


li{
    margin: 10px 0;
  }

input{
    font-size: 15px;
}
select{
    font-size: 15px;;
}

.parent {
    border: 1rem;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
 }
 .division {
    display: inline-block;
    border: 1px solid gray;
    padding: 1rem 1rem;
    margin: 10px 30px;
    vertical-align: top;
 }

 .division > h4{
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 10px;
 }
